<div id="modal-item" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-titulo">Adicionar Novo Item</h2>
            <button id="btn-fechar-modal" class="close-button">&times;</button>
        </div>
        <form id="form-item">
            <div class="modal-body">
                <div class="form-group">
                    <label for="item-nome">Nome</label>
                    <input type="text" id="item-nome" name="nome" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancelar-modal" class="btn btn-secondary">Cancelar</button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</div>