<div class="card full-width">
    <div class="card-actions">
        <div class="search-form">
            <i class="fa-solid fa-search search-icon"></i>
            <input type="search" id="campo-busca" placeholder="Buscar por descrição do item..." class="form-control">
        </div>
    </div>
    
    <div class="table-wrapper">
        <table class="data-table selectable" id="tabela-itens-catalogo">
            <thead>
                <tr>
                    <th class="sortable" data-sort="numero_item" style="width: 10%;">Nº Item <i class="fa-solid fa-sort"></i></th>
                    <th class="sortable" data-sort="descricao" style="width: 40%;">Descrição do Item <i class="fa-solid fa-sort"></i></th>
                    <th class="sortable text-center" data-sort="saldo">Saldo <i class="fa-solid fa-sort"></i></th>
                    <th class="sortable text-center" data-sort="valor_unitario">Valor Unit. <i class="fa-solid fa-sort"></i></th>
                    <th class="text-center" style="width: 120px;">Qtd. a Pedir</th>
                </tr>
            </thead>
            <tbody id="corpo-tabela-itens">
            </tbody>
        </table>
    </div>
    <div id="pagination-container" class="card-footer">
    </div>
</div>