<div class="card full-width">
    <h2>Dados Administrativos da AOCS</h2>
    
    <div class="status-grid">
        <div class="form-group">
            <label for="data_pedido_input">Data da AOCS</label>
            <input type="date" id="data_pedido_input" class="form-control" 
                   value="{{ aocs.data_criacao.strftime('%Y-%m-%d') }}" 
                   data-campo="data_criacao">
            <small style="margin-top: 5px; display: block;">A alteração recalcula o tempo de pendência.</small>
        </div>
        
        <div class="form-group">
            <label for="numero-pedido-input">Nº do Pedido (Opcional)</label>
            <input type="text" id="numero-pedido-input" class="form-control" 
                   value="{{ aocs.numero_pedido or '' }}" 
                   data-campo="numero_pedido" 
                   placeholder="Nº da solicitação interna">
        </div>
        
        <div class="form-group">
            <label for="empenho-input">Nº do Empenho (Opcional)</label>
            <input type="text" id="empenho-input" class="form-control" 
                   value="{{ aocs.empenho or '' }}" 
                   data-campo="empenho" 
                   placeholder="Nº do documento de empenho">
        </div>
        
    </div>
</div>