<aside class="sidebar">
    <div class="sidebar-header">
        <img src="{{ request.app.url_path_for('static', path='images/logo.jpg') }}" alt="Sunny Tech Logo" class="sidebar-logo">
        <h3>GestãoPRO</h3>
    </div>
    <nav class="sidebar-nav">
        <a href="{{ request.app.url_path_for('home_ui') }}" class="nav-link {% if request.app.url_path_for('home_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-house"></i><span>Painel</span>
        </a>
        <a href="{{ request.app.url_path_for('categorias_ui') }}" class="nav-link {% if request.app.url_path_for('categorias_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-tags"></i><span>Categorias</span>
        </a>
        <a href="{{ request.app.url_path_for('contratos_ui') }}" class="nav-link {% if request.app.url_path_for('contratos_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-file-signature"></i><span>Contratos</span>
        </a>
        <a href="{{ request.app.url_path_for('pedidos_ui') }}" class="nav-link {% if request.app.url_path_for('pedidos_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-box-archive"></i><span>Histórico de Pedidos</span>
        </a>
        <a href="{{ request.app.url_path_for('consultas_ui') }}" class="nav-link {% if request.app.url_path_for('consultas_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-magnifying-glass-chart"></i><span>Consultas</span>
        </a>
        <a href="{{ request.app.url_path_for('relatorios_ui') }}" class="nav-link {% if request.app.url_path_for('relatorios_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-print"></i><span>Relatórios</span>
        </a>
        <a href="{{ request.app.url_path_for('importar_ui') }}" class="nav-link {% if request.app.url_path_for('importar_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-file-import"></i><span>Importar</span>
        </a>
        <a href="{{ request.app.url_path_for('gerenciar_tabelas_ui') }}" class="nav-link {% if request.app.url_path_for('gerenciar_tabelas_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-cogs"></i><span>Tabelas do Sistema</span>
        </a>
        <a href="#" onclick="abrirModalSenha(event)" class="nav-link user-action-link">
            <i class="fa-solid fa-key"></i> <span>Alterar Senha</span>
        </a>
        <a href="{{ request.app.url_path_for('logout') }}" class="nav-link">
            <i class="fa-solid fa-right-from-bracket"></i><span>Sair</span>
        </a>
        {% if current_user.nivel_acesso == 1 %}
        <a href="{{ request.app.url_path_for('gerenciar_usuarios_ui') }}" class="nav-link {% if request.app.url_path_for('gerenciar_usuarios_ui').path == request.url.path %}active{% endif %}">
            <i class="fa-solid fa-users-cog"></i><span>Usuários</span>
        </a>
        {% endif %}
    </nav>
</aside>